
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table style="background-color:darkcyan" class="table table-hover">
    <tr>
        <th>İSİM</th>
        <th>SOY İSİM</th>
        <th>ŞEHİR</th>
        <th>MAİL</th>
        <th>PROJE ADI</th>
    </tr>

    <tbody>
        <tr>
            <td>Gökhan</td>
            <td>Eryalçın</td>
            <td>İstanbul</td>
            <td>g.eryalcin@hotmail.com</td>
            <th>MVCdbSTOK Projesi</th>



        </tr>
    </tbody>

</table>








